.img_1 {
  width: 320px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .img_1 {
    width: 700px;
    margin-top: 50px;
  }
}

.img_2 {
  width: 60px;
  margin-right: 100px;
}

@media (min-width: 768px) {
  .img_2 {
    width: 150px;
    margin-right: 200px;
  }
}

.img_3 {
  width: 60px;
  margin-left: 100px;
}

@media (min-width: 768px) {
  .img_3 {
    width: 150px;
    margin-left: 200px;
  }
}

.img_4 {
  width: 60px;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  .img_4 {
    width: 150px;
    margin-bottom: 200px;
  }
}

